[submodule "vim-pathogen"]
	path = vim-pathogen
	url = http://github.com/paulnicholson/vim-pathogen.git
[submodule "bundle/checksyntax_vim"]
	path = bundle/checksyntax_vim
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "lib/sparkup"]
	path = lib/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "bundle/histwin"]
	path = bundle/histwin
	url = git://github.com/chrisbra/histwin.vim.git
[submodule "bundle/quickfix"]
	path = bundle/quickfix
	url = https://github.com/tomtom/quickfixsigns_vim.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
