[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "lib/sparkup"]
	path = lib/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/IndentAnything"]
	path = bundle/IndentAnything
	url = https://github.com/vim-scripts/IndentAnything.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-coffe-script"]
	path = bundle/vim-coffe-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-livedown"]
	path = bundle/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "bundle/vim-bazel"]
	path = bundle/vim-bazel
	url = https://github.com/davidzchen/vim-bazel.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-isort"]
	path = bundle/vim-isort
	url = https://github.com/fisadev/vim-isort.git
[submodule "bundle/vim-yapf-format"]
	path = bundle/vim-yapf-format
	url = https://github.com/pignacio/vim-yapf-format
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/vim-easyclip"]
	path = bundle/vim-easyclip
	url = https://github.com/svermeulen/vim-easyclip
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/Vim-Jinja2-Syntax"]
	path = bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
